html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
  height: 100px;
  width: 100px;
}



/* Cambia il colore del bordo degli input con errori di validazione */
.input-validation-error {
  border-color: red !important; /* Bordo rosso per evidenziare gli errori */
}

/* Cambia il colore del messaggio di errore */
.field-validation-error {
  color: red; /* Colore rosso per i messaggi di errore */
}

/* Cambia il colore del bordo degli input validi */
.input-validation-valid {
  border-color: green !important; /* Bordo verde per evidenziare i campi validi */
}

/* Cambia il colore del messaggio di successo */
.field-validation-valid {
  color: green;
}

/* Rimuove lo sfondo azzurro su autocompletamento nei browser Webkit (Chrome, Safari, Edge) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; /* Imposta lo sfondo bianco per sovrascrivere l'azzurro */
  -webkit-text-fill-color: black !important; /* Imposta il colore del testo */
}

/* Rimuove lo sfondo azzurro per altri browser che usano il motore Blink (Chrome, Edge) */
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

::placeholder {
  color: #6c757d;
  opacity: 1;
}
::-webkit-input-placeholder {
  color: #6c757d;
}